:root {
    --primary-color: #9a4b7b;
    --primary-color-dark: #782a59;
    --text-dark: #333333;
    --white: #fff;
    --max-width: 1200px
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav-header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav-logo a img {
    max-width: 100%;
}

.nav-logo .logo-dark {
    display: none;
}

.nav-menu-btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav-links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    z-index: -1;
}

.nav-links.open {
    transform: translateY(100%);
}

.nav-links a {
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;
}